.nav {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-bottom: 0px;
    color: blueviolet;
}

.nav-item {
    font-size: 30px;
    text-decoration: none;
}
.nav-item > a {
    text-decoration: none;
}